/* HeroDetailComponent's private CSS styles */
h2 {
    margin: 2rem;
    text-align: center;
    color: #fff;
    font-family: "Trolls";
    font-size: 2rem;
  }
  
  label {
    color: #fff;
    font-weight: bold;
    font-family: "Trolls";
  
  }
  
  input {
    font-size: 1em;
    padding: .5rem;
  }
  
  button {
    margin-top: 1.7rem;
    height: fit-content;
    background-color: #eee;
    padding: 0.5rem;
    border-radius: 30px;
    font-size: 0.5rem;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  
  .heroes-menu {
    padding: 1rem;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    background-color: rgba(142, 142, 142, 0.238);
    backdrop-filter: blur(8px);
  
    border-radius: 10px;
  }
  
  .containe-troll {
    text-align: center;
  
  }
  
  .form-control {
    display: flex;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: orange solid 1px;
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
  
  }
  
  
  #skin-troll {
    margin-top: 1.8rem;
    margin-left: 2.5rem;
    width: 15rem;
    padding: 1rem;
    margin: 3rem;
    filter: drop-shadow(0px 0px 5px Yellow);
  }
  
  
  #goback {
    width: 2rem;
  }
  
  .input {
    margin-top: 1rem;
  }
  
  .input>p {
    font-family: "Trolls";
    color: rgb(5, 242, 5);
  }
  
  .complete {
    color: red !important;
  }
  
  .container-img {
    margin-top: 3rem;
    background-color: #12101048;
    border-radius: 100%;
    width: 35%;
    height: 100%;
    background-image: url(../../../assets/back-weapon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  
  
  
  
  
  
  /* INPUT NUMBER css */
  
  /* 
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  } */
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 0.9rem;
    height: 1px;
    background-color: #FFF;
    transform: translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    width: 5rem;
    padding: 0;
    font-size: 1.1rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
  }
  
  .instructions {
    position: absolute;
    color: #fff;
    left: 1rem;
    top: 8rem;
    font-size: 1rem;
    width: 8rem;
    font-style: italic;
    font-weight: bold;
  }
  
  /* BUTTON */
  
  .button-valid {
    font-family: "Trolls";
    bottom: 1rem;
    left: 79%;
    background-color: #fff;
    text-decoration: none;
    color: green;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 10px;
    position: absolute;
    margin: auto;
  }
  
  .button-valid:hover {
    bottom: 1rem;
    background-color: green;
    color: #fff;
    transition: all 0.4s;
    transform: translateY(-0.5rem);
  }
  
  .button-suppr {
    font-family: "Trolls";
    bottom: 1rem;
    left: 90%;
    background-color: #fff;
    text-decoration: none;
    color: red;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 10px;
    position: absolute;
    margin: auto;
  }
  
  .button-suppr:hover {
    bottom: 1rem;
    background-color: red;
    color: #fff;
    transition: all 0.4s;
    transform: translateY(-0.5rem);
  }
  
  
  
  
  