<div *ngIf="weapon">
    <div class="flex">
      <button type="button" (click)="goBack()"><img src="../../../assets/icons/goback.svg" alt="go back"
          id="goback"></button>
      <h2>Troll : {{weapon.name | uppercase}}</h2>
    </div>
  
    <div class="heroes-menu">
  
  
      <p class="instructions"><u>Règles :</u> <br><br> Minimum de 1 points par Caractéristique. <br><br> Maximum de 40 Points en tout.</p>
  
  
      <div class="containe-troll" (change)="handleChange()">
        <div>
          <label for="hero-name">Name : </label>
          <input id="hero-name" class="form-control" [(ngModel)]="weapon.name" placeholder="name">
        </div>
        <div class="input">
          <div>
  
            <label for="hero-attaque">Attaque : </label>
          </div>
          <div class="number-input">
            <!-- <button (click)="stepDown('hero-attaque')"></button> -->
            <input id="hero-attaque" class="form-control {{classComplet}}" type="number" [min]="-5" max="{{ MaxLimitAttack }}" onkeydown="return false" [(ngModel)]="weapon.attaque"
              placeholder="attaque">
            <!-- <button (click)="stepUp('hero-attaque')" class="plus"></button> -->
          </div>
        </div>
        <div class="input">
          <div>
  
            <label for="hero-esquive">Esquive : </label>
          </div>
          <div class="number-input">
            <!-- <button (click)="stepDown('hero-esquive')"></button> -->
            <input id="hero-esquive" class="form-control {{classComplet}}" type="number" [min]="-5" max="{{ MaxLimitEsquive }}" onkeydown="return false" [(ngModel)]="weapon.esquive"
              placeholder="esquive">
            <!-- <button (click)="stepUp('hero-esquive')" class="plus"></button> -->
          </div>
        </div>
        <div class="input">
          <div>
            <label for="hero-degats">Degats : </label>
          </div>
          <div class="number-input">
            <!-- <button (click)="stepDown('hero-degats')"></button> -->
            <input id="hero-degats" class="form-control {{classComplet}}" type="number" [min]="-5" max="{{ MaxLimitDegats }}" onkeydown="return false" [(ngModel)]="weapon.degats"
              placeholder="degats">
            <!-- <button (click)="stepUp('hero-degats')" class="plus"></button> -->
          </div>
        </div>
        <div class="input">
          <div>
  
            <label for="hero-pv">PV : </label>
          </div>
          <div class="number-input">
            <!-- <button (click)="stepDown('hero-pv')"></button> -->
            <input id="hero-pv" class="form-control {{classComplet}}" type="number" [min]="-5" max="{{ MaxLimitPV }}" onkeydown="return false" [(ngModel)]="weapon.PV"
              placeholder="pv">
            <!-- <button (click)="stepUp('hero-pv')" class="plus"></button> -->
          </div>
        </div>
        <div class="input">
          <p id="container-puntos" class="{{classComplet}}">Points Attribuées : <span id="puntos">{{ total }} / 0</span></p>
        </div>
  
      </div>
  
      <button (click)="UpdateWeapon()" class="button-valid" >Sauvegarder</button>
      <button (click)="DeleteWeapon()" class="button-suppr" >Supprimer</button>
  
      <div class="container-img">
        <img src="../../../assets/weaponskins/{{weapon.skin}}.gif" id="skin-troll">
      </div>
    </div>
  </div>