<div class="flex">
  <h2>Mes Trolls </h2>
  <button class="btnn" (click)="newHero()"><img src="../../../assets/icons/add.svg" id="add_logo"></button>
</div>

<div class="row">
  <!-- <ul class="heroes">
        <li *ngFor="let hero of heroes">
          <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
          </button>
        </li>
    </ul> -->

  <!-- <div class="book">
      <p>Hello</p>
      <div class="cover">
          <p>Hover Me</p>
      </div>
     </div> -->

  <ul class="heroes">

    <li *ngFor="let hero of heroes">
      <a routerLink="/troll/detail/{{hero.id}}">
        <div class="myCard">
          <div class="innerCard" *ngIf="hero.weaponId != ''; else elseBlock">
            <div class="frontSide">
              <p class="title">{{hero.name}}</p>
              <img src="../../../assets/weaponskins/{{hero.weaponId}}.gif" id="imgweapon">
              <img src="../../../assets/trollskins/{{hero.skin}}.png" id="imgtroll">
            </div>
            <div class="backSide">
              <p class="title">Stats</p>
              <div class="icon-container">
                <div class="icon-div">
                  <img src="../../../assets/icons/attaque.svg" class="icon-attack" title="Attaque">
                  <p [ngClass]="{ 'addPoints': hero.attaque > 5, 'removePoints': hero.attaque <= 5 }">{{hero.attaque}}</p>
                </div>

                <div class="icon-div">
                  <img src="../../../assets/icons/esquive.svg" class="icon-esquive" title="Esquive">
                  <p >{{hero.esquive}}</p>
                </div>

                <div class="icon-div">
                  <img src="../../../assets/icons/degats.svg" class="icon-degats" title="Degats">
                  <p >{{hero.degats}}</p>
                </div>

                <div class="icon-div">
                  <img src="../../../assets/icons/pv.svg" class="icon-pv" title="Vie">
                  <p >{{hero.PV}}</p>
                </div>
              </div>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="innerCard">
              <div class="frontSide">
                <p class="title">{{hero.name}}</p>
                <img src="../../../assets/trollskins/{{hero.skin}}.png" id="imgtroll">
              </div>
              <div class="backSide">
                <p class="title">Stats</p>
                <div class="icon-container">
                  <div class="icon-div">
                    <img src="../../../assets/icons/attaque.svg" class="icon-attack" title="Attaque">
                    <p>{{hero.attaque}}</p>
                  </div>

                  <div class="icon-div">
                    <img src="../../../assets/icons/esquive.svg" class="icon-esquive" title="Esquive">
                    <p>{{hero.esquive}}</p>
                  </div>

                  <div class="icon-div">
                    <img src="../../../assets/icons/degats.svg" class="icon-degats" title="Degats">
                    <p>{{hero.degats}}</p>
                  </div>

                  <div class="icon-div">
                    <img src="../../../assets/icons/pv.svg" class="icon-pv" title="Vie">
                    <p>{{hero.PV}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </a>
    </li>
  </ul>


  <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

  <!-- <app-messages></app-messages> -->
</div>