<header>
    <a routerLink="/accueil">
        <img src="../assets/logofr.jpg" id="logo" />
    </a>
    
    <h1>{{title}}</h1>

    <nav>
         <a routerLink="/dashboard">Dashboard</a>
       
        <a routerLink="/heroes">Trolls</a>
        
        <a routerLink="/weapons">Armes</a>

    </nav>
</header>

<section id="bg">
    <div id="snackbar">Sauvegardé avec succès ! </div>
    <div id="snackbar2">Erreur est survenu ! </div> 

    <router-outlet></router-outlet>
</section>
<footer>
    <p>
        Made by villanud
    </p>
</footer>
