<h2>Bienvenue</h2>
<br>
<div class="heroes-menu">
    <p class="txt-accueil">
        Bienvenue dans l'univers du Duel of Trolls, où se tiennent des batailles légendaires entre trolls farouches !
        Dans ce royaume fantastique, vous prendrez le contrôle de votre propre troll, que vous pourrez personnaliser
        selon votre vision unique.
        <br>
        Préparez-vous à vivre des aventures épiques et à défier d'autres trolls courageux venus de tous les coins du
        monde. Que vous soyez novice en quête de gloire ou vétéran des duels de trolls, Duel de Trolls offre un terrain
        de jeu équitable pour tous. Affinez vos compétences, maîtrisez des sorts puissants et constituez une équipe
        imbattable pour gravir les échelons de la gloire troll.
        <br>

        Libérez votre créativité en créant le troll de vos rêves. Personnalisez-le pour qu'il devienne unique en son
        genre. Les possibilités sont infinies, tout comme les combats qui vous attendent.
        <br>

        Que vous préfériez les duels en tête-à-tête, les affrontements d'équipes stratégiques ou les batailles épiques
        en mode histoire, Duel de Trolls propose une expérience de jeu adaptée à tous les goûts. Relevez les défis,
        remportez des récompenses et hissez-vous au sommet du classement.
        <br>

        Le monde du Duel de Trolls regorge de mystères, d'adversaires redoutables et d'histoires captivantes.
        Préparez-vous à vivre une aventure inoubliable, à forger des alliances inattendues et à découvrir les secrets de
        ce royaume enchanté.
        <br>  
  
        Que la meilleure équipe de trolls gagne et que les batailles les plus épiques commencent ! Rejoignez-nous dès
        maintenant dans le Duel de Trolls, où la magie, la stratégie et le combat se rencontrent pour créer une
        expérience de jeu inégalée. Préparez-vous à rugir et à écraser vos adversaires dans ce jeu d'arène où seuls les
        plus forts survivent. Êtes-vous prêt à devenir le troll ultime ?
    </p>

    <a routerLink="/dashboard">Jouer</a>

</div>